SMARTMEAL_SUPABASE_URL=YOUR_SUPABASE_PROJECT_URL
SMARTMEAL_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SMARTMEAL_SUPABASE_EMAIL_REDIRECT_URL=
SMARTMEAL_USDA_API_KEY=YOUR_USDA_API_KEY
SMARTMEAL_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
